{% for product in products %}

{% if user.is_staff %}
    <div class="text-end mb-3">
        <a href="{% url 'product_add' %}" class="btn btn-success">Add Product</a>
    </div>
{% endif %}

<div class="product-container mb-4">
    <div class="product-details">
        <h4 class="product-name">{{ product.name }}</h4>
        <p><strong>Price:</strong> ₹{{ product.price }}</p>
    </div>

    <a href="{% url 'product_detail' pk=product.pk %}">
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image" style="cursor:pointer;">
    </a>
</div>

{% if user.is_staff %}
    <div class="btn-group mt-2" role="group">
        <a href="{% url 'product_edit' product.pk %}" class="btn btn-outline-primary btn-sm">Edit</a>
        <a href="{% url 'product_delete' product.pk %}" class="btn btn-outline-danger btn-sm">Delete</a>
    </div>
{% endif %}

<hr>
{% empty %}
    <p>No products available for this category.</p>
{% endfor %}
